/* 列表页专有的css */

.nav {
    overflow: hidden;
}

.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #b1191a;
    padding: 3px 0 3px 14px;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    line-height: 49px;
    padding: 0 22px;
    font-size: 14px;
}

.sk_con ul li:last-child a::after {
    content: "\e913";
    font-family: 'icomoon';
}

.sk_bd ul li {
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 460px;
    /* 注意：原先就有一像素的透明边框，这样鼠标悬停时，对里面的内容才不会有影响 */
    border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid #b1191a;
}

.sk_bd ul li img {
    width: 100%;
}

.sk_bd ul li h4 {
    margin: 0 10px;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
}

.sk_bd ul li .price {
    display: block;
    margin-left: 10px;
}

.sk_bd ul li .price .current {
    float: left;
    font-size: 22px;
    color: #b1191a;
}

.sk_bd ul li .price .origin {
    float: left;
    font-size: 14px;
    color: #a4a4a4;
    text-decoration: line-through;
    margin-left: 6px;
    padding-top: 8px;
}

.sk_bd ul li .ratio {
    height: 40px;
    margin-left: 10px;
}

.sk_bd ul li .ratio .box {
    float: left;
    width: 132px;
    height: 12px;
    line-height: 40px;
    border: 1px solid #b1191a;
    border-radius: 6px;
    margin: 14px 10px;
}

.sk_bd ul li .ratio .box .bar {
    height: 10px;
    width: 87%;
    background-color: #b1191a;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sk_bd ul li .ratio h5 {
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

.sk_bd ul li button {
    display: block;
    width: 100%;
    height: 42px;
    background-color: #b1191a;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #fff;
}